<header>
    <h1>Placement Cell Employees</h1>

    <ul id="access">
       <% if(locals.user){ %>

            <li> <a href="/students/display"><%= user.name %></a></li>
            <li>  
                <a href="/employee/sign-out"> Sign Out</a>
            </li>

    <% } else { %>
            <li>
                <a href="/employee/sign-in"> Sign In</a>
            </li>

            <li>
                <a href="/employee/sign-up"> Sign Up</a>
            </li>
    <% } %>
    </ul>
</header>

