<h1> <%= title %></h1>

<!-- sending the data create a session -->
<form action="/employee/create-session" method="POST">
    <input type="email" name="email" placeholder="Your Email" required>
    <input type="password" name="password" placeholder="Password" required>
    <input type="submit" value="Sign In">
</form>

