<h1><%= title%></h1>
<!-- // sending the data to createa user in db -->
<form action="/employee/create" method="POST">
    <input type="text" name="name" placeholder="Your User Name" required>
    <input type="email" name="email" placeholder="Your Email" required>
    <input type="password" name="password" placeholder="Password" required>
    <input type="password" name="confirm_password" placeholder="Confirm Password" required>
    <input type="submit" value="Sign Up">
</form>

