<link rel="stylesheet" href="/css/home_page.css">
<!-- <h1><%= title %></h1> -->

<div id="container">
    <% if(locals.user) { %>
        <div class="home-icons">
            <div class="hover icon-action"> <a  href="/students/display-students"><div id="addStudent" class="icon"></div></a><h4>Add Student</h4></div>
            <div class="hover icon-action"><a  href="/interviews/display-interviews"><div id="addInterview" class="icon  "></div></a><h4>Add Interview</h4></div>
            <div class="hover icon-action"><a  href="/report/download-report"><div id="downloadReport" class="icon  "></div></a><h4>Download Report</h4></div>
            <div class="hover icon-action"><a  href="/external-jobs/get-job-list"><div id="externalJobs" class="icon  "></div></a><h4> External jobs</h4></div>
        </div>
    <%} else {%>
        <div class="home-icons">
            <div class="hover icon-action"><a  href="/employee/sign-in"><div id="SignIn" class="icon" ></div></a><h4>Sign In</h4></div>
            <div class="hover icon-action"><a href="/employee/sign-up"><div id="SignUp" class="icon"></div></a><h4>Sign Up</h4></div>
        </div>
    <% } %>
</div>
