/*set background color*/
main {
    background-color: azure;
}

/*border for body*/
body {
    border: 2px solid #0aa1f2;
}


/*Sign up div styling */

/*Set margin to div and align the contents*/

#signup {
    margin: 5% 10%;
    text-align: center;
    width: 80%;
}

/*align the form into center and adjust width*/
#signup-form {
    margin-top: 3%;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

/*setting the outline of the form input*/
.form-outline {
    color: #0aa1f2;
    background-color: #0aa1f2;
}

/*set the background color of the sign up button */
.btn-primary {
    background-color: #0aa1f2;
}