main{
    background-color: azure;
}
#student-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid white;
    width: 100%;
    text-align: center;
    top:50px;
    padding: 2%;
}
.list-group-item {
    border: 2px sloid blue;
    display: inline-block;
    padding: 2%;
    
}

#students-list {
    width:80%

}
.name-span{
    display: flex;
    justify-content: space-around;
   }

.key {
    font-weight: 500;
    text-transform: capitalize;
}
.required {
    color: red;
}

/* .flex {
    display: flex;
    justify-content: space-between;
} */
.view-details{
    border-bottom: 2px dotted brown;
    cursor: pointer;
}
a{
    text-decoration: dashed;
}

.key-value {
    display: flex;
    justify-content: space-between;
}

 #add-new-student-form{
    background-color: azure;
    
    width:100%

}